
@{
    ViewBag.Title = "Index";
}

<!-- ======= Section ======= -->
<section id="Index" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Inicio</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <h3>Portal para envio masivo de SMS</h3>
            </div>
        </div>

    </div>
</section><!-- End Section -->

