
@{ ViewBag.Title = "Subir archivo CSV"; }

<script src="~/Scripts/dropzone/dropzone.js"></script>
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet">



<section id="Index" class="about">



    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Subir archivos CSV</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="FileUpload"></div>
                <form action="@Url.Action("SubirArchivo","FileUpload" )" class="dropzone" id="my-dropzone"></form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="listview_resultados"></div>
                <div id="pager_resultados" class="k-pager-wrap"></div>
            </div>

        </div>

        <div class="demo-section k-content wide">
            <div id="listView"></div>
            <div id="pager" class="k-pager-wrap"></div>
        </div>

    </div>

</section>
    <script type="text/x-kendo-template" id="template">
        <div class="row product-view">
            <h3>#:res_observacion#</h3>
            <p>ID:#:res_id#</p>
        </div>
    </script>

    <script type="text/javascript">


        Dropzone.options.myDropzone = {
            init: function () {
                this.on("addedfile", function () {
                    // Show submit button here and/or inform user to click it.
                });

                this.on("success", function (file, response) {
                    // Show submit button here and/or inform user to click it.
                    CargarDatos(response);
                });

                this.on("complete", function () {
                    // Show submit button here and/or inform user to click it.
                    //      alert("Archivo completo");
                });
            }
        };


        function CargarDatos(products) {
            var dataSource = new kendo.data.DataSource({
                data: products,
                pageSize: 200
            });

            $("#pager_resultados").kendoPager({
                dataSource: dataSource
            });

            $("#listview_resultados").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
        };



    </script>



    <style>
        .product-view {
            float: left;
            margin-left: 10px;
            width: 500px;
            height: 100px;
        }
    </style>
