
@{ ViewBag.Title = "Index"; }

<h2>Indexw</h2>

<script src="~/Scripts/dropzone/dropzone.js"></script>
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet">

<form action="@Url.Action("SubirArchivo","FileUpload" )" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>