<configuration>
  <connectionStrings>
    <add name="PortalSend_Entities" connectionString="metadata=res://*/App_Data.PORTALSEND.PORTALSEND_Models.csdl|res://*/App_Data.PORTALSEND.PORTALSEND_Models.ssdl|res://*/App_Data.PORTALSEND.PORTALSEND_Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.0.0.7;initial catalog=PortalSend;persist security info=True;user id=user_portalsend;password=Urx8XJ6DQzfPPY3B;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  
</configuration>